# {{ project_name }}

This is a template for Python-based repositories.

## Usage

You have two options for using this template:

1. **Use as a Template**: You can use this repository as a template. Simply click on the "Use this template" button on the GitHub page to create a new repository based on this template. You'll then need to manually replace {{ project_name }} and {{ module_name }} occurences in the repo.

2. **Use Copier**: Alternatively, you can use [Copier](https://github.com/copier-org/copier). To do this, install Copier and run the following command:

```bash
copier copy "https://github.com/armand-sauzay/python-template.git" <your_folder> 
```

If you want to target a specific branch, you can use: 
```bash 
copier copy --vcs-ref "<python-template-branch>" "https://github.com/armand-sauzay/python-template.git" <target-folder>
```